@{
    ViewBag.Title = "Error404";
}


<div class="container-fluid" id="error-container">
    <div class="row-fluid">
        <div class="span12">
            <img src="~/Content/error.png" alt="error-image" class="img-rounded" id="error-image" />
        </div>
        <div class="span12" id="error-header">
            <h2 class="text-center">It looks like you found a</h2>
            <h1 class="text-center">Dead Link</h1>
        </div>
    </div>
</div>

