@using System.Collections;
@model IEnumerable<PhotoContest.Web.ViewModels.CategoriesViewModels>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (var item in Model)
{
    <p>@item.Id</p>
    <p>@item.Name</p>
}

<p>Use this area to provide additional information.</p>
