@{
    ViewBag.Title = "Team Fielder";
}
<div class="jumbotron container">
    <h1>@ViewBag.Title</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Partial("_LeftSideNavbar")
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Plamena Miteva</h3>
                    </div>
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true">  admin@abv.bg</span>
                        <div><span class="glyphicon glyphicon-home" aria-hidden="true"> <a href="https://github.com/PlamenaMiteva">https://github.com/PlamenaMiteva</a></span></div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Anton Velikov</h3>
                    </div>
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true">  admin@abv.bg</span>
                        <div><span class="glyphicon glyphicon-home" aria-hidden="true"><a href="https://github.com/antataiv"> https://github.com/antataiv</a></span></div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pavel Shalev</h3>
                    </div>
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true">  admin@abv.bg</span>
                        <div><span class="glyphicon glyphicon-home" aria-hidden="true"> <a href="https://github.com/pavel91">https://github.com/pavel91</a></span></div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ivan Kitukov</h3>
                    </div>
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true">  admin@abv.bg</span>
                        <div><span class="glyphicon glyphicon-home" aria-hidden="true"><a href="https://github.com/fargo32"> https://github.com/fargo32</a></span></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


