@model PhotoContest.Web.ViewModels.ContestViewModelIndex


    <h4>@Model.Name <span>@Html.ActionLink("Details", "Details", "Contest", new { id = Model.Id }, new { @class = "btn btn-default" })</span></h4>
