@model PhotoContest.Web.ViewModels.ContestViewModelIndex

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h4>@Html.Encode(Model.Name)</h4>
        </div>
        @if (Model.CategoryId == 1)
        {
            <img src="https://photocontest.blob.core.windows.net/images/fd0cdf43-0644-46a0-b76a-8a659846b0ca.jpg" alt="images" id="category-image" />
        }
        @if (Model.CategoryId == 2)
        {
            <img src="https://photocontest.blob.core.windows.net/images/948f3b97-942f-4879-bbdf-cad82c5f584c.jpg" alt="images" id="category-image" />
        }
        @if (Model.CategoryId == 3)
        {
            <img src="https://photocontest.blob.core.windows.net/images/fd0cdf43-0644-46a0-b76a-8a659846b0ca.jpg" alt="images" id="category-image" />
        }
        @if (Model.CategoryId == 4)
        {
            <img src="https://photocontest.blob.core.windows.net/images/c96facf0-f1ba-4d6f-b9f2-613d08088e42.jpg" alt="images" id="category-image" />
        }
        @if (Model.CategoryId == 5)
        {
            <img src="https://photocontest.blob.core.windows.net/images/e2ab1003-13f2-4fae-b407-b40e94a340c4.jpg" alt="images" id="category-image" />
        }
        <div class="caption">
            <p>@Html.ActionLink("Details", "Details", "Contest", new { id = Model.Id }, new { @class = "btn btn-default" })</p>
        </div>
    </div>
</div>

