@model PhotoContest.Web.ViewModels.MyImagesViewModel
@{
    ViewBag.Title = "MyImagesViewModel";
}
<div class="col-sm-4">
    <div class="thumbnail">
        <!-- Place the anchor tag here to cover both your caption and image -->
        <a href="@Url.Action("Details", "Image", new { id=@Model.Id })">
                       <img src="@Model.PictureUrl" style="width:300px; height:200px;" />
        </a>
        <!-- Anchor tag ends covering both image and caption -->
    </div>
</div>
@*<div class="row">
    <div class="thumbnail col-sm-4">
        <a href="@Url.Action("Details", "Image", new { id=@Model.Id })">
            <img src="@Model.PictureUrl" />
        </a>
    </div>
</div>*@
