@using PagedList.Mvc
@model PagedList.IPagedList<PhotoContest.Web.ViewModels.MyImagesViewModel>

@{
    ViewBag.Title = "MyImages";
}

<h2>MyImages</h2>
<div class="row">
    @Html.DisplayFor(x => x)
</div>
@Html.PagedListPager(Model, page => Url.Action("MyImages",
    new { page }))

