@model IEnumerable<PhotoContest.Web.ViewModels.UserViewModel>
@*added new { contestId = this.ViewBag.ContestId }*@
@{
    ViewBag.Title = "Search users: ";
}
@*, new { contestId = this.ViewBag.ContestId } added*@
<h2>@ViewBag.Title</h2>
<div class="col">

    <div id="search-form">
        @Html.Action("Search", "MyContests")
    </div>

    <div id="search-results">
    </div>

    @*<div class="modal">@ViewBag.AlreadyParticipatesMessage</div>*@
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

} 